# Node.js dependencies
node_modules/

# Build files
frontend/build/

# Environment variables
.env

# Virtual environment
venv/
env/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE files
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db